<footer class="site-footer">

  <div class="wrapper">

    <!--<h2 class="footer-heading">{{ site.title | escape }}</h2>-->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
           <li>            
            Contractor, freelancer, SaaS business owner, conference speaker, dad, rock climber and passionate about people and technology
            </li>
          <li>
            <!--{% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}-->
            <!-- <img src="/assets/DaveMateer.jpg" /> -->
            <img src="/assets/Dave_180.jpg" width="100" />
            </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
             </div>

      <div class="footer-col footer-col-3">
        <!--<p>{{ site.description | escape }}</p>
        <p>rev: {{ site.time | date: "%Y-%m-%d %H:%M:%S" }} GMT</p>-->
 <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

            <li>:postbox: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li>:telephone: +44 7584 126022</li>
            <li>rev: {{ site.github.build_revision | slice: 0,6  }}</li>
        </ul>

      </div>
    </div>

  </div>
</footer>
