<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Dave Mateer">
  {% seo %}
  <link rel="stylesheet" href="/css/main.css" /> 
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

  <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">

  {% feed_meta %}
  {% include google-analytics.html %}

  <!-- {% assign custom_url = site.url | append: site.baseurl %} -->
  <!-- {% assign full_base_url = site.github.url | default: custom_url %} -->
</head>
